<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/login.css">
    <title>login</title>
    <script defer src="javascript/project.js"></script>
    <video id="background-video" autoplay loop muted poster="pictures/Forests.jpg">
        <source src="pictures/video.mp4" type="video/mp4">
    </video>
</head>
<body>
<nav>
    <a class="nav_item" href="/FindTrip" onclick="return false">חיפוש טיול</a> |
    <a class="nav_item" href="/Favorite" onclick="return false">המועדפים שלי</a> |
    <a class="nav_item" href="/contact">צור קשר</a> |
    <a class="nav_item" href="/about_us">קצת עלינו</a> |
    <a class="nav_item" href="/home">התחברות לאתר</a> |
</nav>
<div class="container">
    <div class="text">
        <div class='line'>
            <h2 class='flipX'>מצא את הטיול שלי</h2>
        </div>
        <div class="logincont">
            <form name="login" action="/CheckLogin" onsubmit="return empty()" method="get">
                <label for="username_login" class="text">שם משתמש:</label>
                <input type="text" id="username_login" name="username_login" required><br>
                <br>
                <label for="password_login" class="text">סיסמא:</label>
                <input type="password" id="password_login" name="password_login" required>
                <br><br>
                <button class="button" type="submit">התחבר</button>
            </form>
            </a>
            <br>
            <br>
            <div class="account">עדיין אין לך משתמש?
                <a href="/SignUp">
                    <button class="press-here">לחץ כאן</button>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p>Copyright &copy; 2022 Jane Smith. All rights reserved. This material may not be reproduced, distributed,
        transmitted, cached or otherwise used, except with the prior written permission of the copyright owne </p>
</footer>
</body>
</html>

