<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>review</title>
    <link rel="stylesheet" href="css/login.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script defer src="javascript/project.js"></script>
</head>
<body>
    <div class="container">
      <div class="text">
        <div class="header"> הביקורת שלך</div><br>
        <div class="review_cont">
            <form>
                <label for="Header">כותרת:</label>
                <input type="header" class="header_review" id="Header" name="Header"><br>
                <br>
                <label  for="Review">ביקורת:</label>
                <input type="review" class="comment_review" id="Review" name="Review">
            </form>
           <br>
           <br>
        </div>

        <button class="button">פרסם</button>
          </div>

      </div>
    </div>
</body>
</html>