<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/login.css">
     <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
     <nav>
        <a class="nav_item" href="./find_your_trip.html">חיפוש טיול</a> |
        <a class="nav_item" href="./My_favorite.html">המועדפים שלי</a> |
        <a class="nav_item" href="contact.html">צור קשר</a> |
        <a class="nav_item" href="about_us.html">קצת עלינו</a> |
     </nav>
     <a href="find_your_trip.html">
            <button class="back"> <i class='fas fa-redo'></i></button></a>

<p class="about">בחברת הטיולים שלנו, אנו מתמחים ביצירת חוויות טיול ייחודיות ובלתי נשכחות ללקוחותינו. בין אם אתם מחפשים חופשה רומנטית, הרפתקה מרגשת או מפלט מרגיע, יש לנו משהו לכולם. צוות מומחי הנסיעות שלנו נלהב לחקור את העולם ומוקדש למציאת היעד והמסלול המושלם עבור כל אחד ואחת מלקוחותינו. אנו מתחייבים לספק את השירות הטוב ביותר ואת התמורה הטובה ביותר לכספכם, כך שתוכלו לשבת, להירגע, ולתת לנו לטפל בכל הפרטים. תן לנו לעזור לך לתכנן את טיול החלומות שלך עוד היום!</p>

<div class="people">
    <p>האנשים שלנו</p>
</div>
</body>
</html>