<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="../static/login.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
     <nav>
        <a class="nav_item" href="./find_your_trip.html">חיפוש טיול</a> |
        <a class="nav_item" href="./My_favorite.html">המועדפים שלי</a> |
        <a class="nav_item" href="contact.html">צור קשר</a> |
        <a class="nav_item" href="about_us.html">קצת עלינו</a> |
     </nav>
    <div><a href="find_your_trip.html">
        <button class="back"> <i class='fas fa-redo'></i></button></a>
    </div>
  <p>Phone: 1-800-555-1212</p>
  <p>Email: info@tripcompany.com</p>
  <p>Address: 123 Main Street, Anytown, USA</p>
  <p>Website: www.tripcompany.com</p>
</body>
</html>