<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>request trip</title>
    <link rel="stylesheet" href="../static/login.css">
    <title>find guied</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
     <nav>
        <a class="nav_item" href="./find_your_trip.html">חיפוש טיול</a> |
        <a class="nav_item" href="./My_favorite.html">המועדפים שלי</a> |
        <a class="nav_item" href="contact.html">צור קשר</a> |
        <a class="nav_item" href="about_us.html">קצת עלינו</a> |
     </nav>
    <div>
        <a href="your_trips.html">
            <button class="back"> <i class='fas fa-redo'></i></button></a>
        </a>
    </div>
    <br><br>
        <div class="container"><br>
            <div class="grid-container">
                <div class="header">מדריכים למסלול</div><br>
                <div class="grid-item">מפר טלפון שם קצת עלי </div>
                <div class="grid-item">2</div>
                <div class="grid-item">3</div>
            </div>
        </div>


</body>
</html>