<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>guids for trip</title>
    <link rel="stylesheet" href="../static/login.css">
    <title>find guied</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
     <nav>
        <a class="nav_item" href="./find_your_trip.html">חיפוש טיול</a> |
        <a class="nav_item" href="./My_favorite.html">המועדפים שלי</a> |
        <a class="nav_item" href="contact.html">צור קשר</a> |
        <a class="nav_item" href="about_us.html">קצת עלינו</a> |
     </nav>
    <div>
        <a href="request_trip.html">
            <button class="back"> <i class='fas fa-redo'></i></button></a>
        </a>
    </div>
    <br><br>
         <section id="about">
             <div class="about1">
                <h1>מדריכים מוצעים לטיול</h1>
             </div>
             <div id="about 2">
                 <div class="content-box-lg">
                     <div class="guide-container">
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="about-item text-center">
                                     <i class="fas fa-map-marked-alt"></i>
                                     <h3>לירון עידן</h3>
                                     <hr>
                                     <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 0504565432</p>
                                     <p>אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך! </p>
                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="about-item text-center">
                                     <i class="fas fa-map-marked-alt"></i>
                                     <h3>עידו כהן</h3>
                                     <hr>
                                      <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 0504565432</p>
                                     <p>אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך!
                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="about-item text-center">
                                     <i class="fas fa-map-marked-alt"></i>
                                     <h3>דולב סולומון</h3>
                                     <hr>
                                     <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 0504565432  </p>
                                     <p>היי לכולם, אני מוביל סיורים ב-5 השנים האחרונות ויש לי אהבה והערכה עמוקה להיסטוריה ולתרבות של הארץ שלנו. אני נלהב לחלוק את הידע שלי עם אחרים ושואף להפוך כל סיור לחוויה מרתקת ומעשירה. אני נרגש להיות המדריך שלך להרפתקה ומצפה להכיר כל אחד ואחת מכם.</p>

                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="about-item text-center">
                                     <i class="fas fa-map-marked-alt"></i>
                                     <h3>רועי גונן</h3>
                                     <hr>
                                      <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 0504565432</p>
                                     <p>אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך!
                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="about-item text-center">
                                     <i class="fas fa-map-marked-alt"></i>
                                     <h3>אדר שבתאי</h3>
                                     <hr>
                                      <p>שנות ניסיון בהדרכת טיולים: 5 , מחיר לטיול : 20 ש"ח, טלפון ליצירת קשר : 0504565432</p>
                                     <p>אני מדריכת טיולים מקצועית עם למעלה מ-5 שנות ניסיון בהובלת טיולים ברחבי הארץ. אני נלהב לחלוק את הידע והאהבה שלי לטיולים עם אחרים, ושואף להפוך כל סיור לחוויה ייחודית ומהנה. בין אם אתם מחפשים לחקור את רחובות העיר השוקקים או את נופי הטבע היפים, אני כאן כדי לעזור לכם לתכנן את הטיול המושלם. אני מצפה להדריך אותך בהרפתקה הבאה שלך!
                                 </div>
                             </div>

                         </div>
                     </div>
                 </div>
             </div>
         </section>
<footer class="footer">
    <p>Copyright &copy;  2022 Jane Smith. All rights reserved. This material may not be reproduced, distributed, transmitted, cached or otherwise used, except with the prior written permission of the copyright owne </p>
</footer>

</body>
</html>