<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <title>login</title>
    <script defer src="../static/project.js"></script>

</head>
<body>
     <nav>
        <a class="nav_item" href="./find_your_trip.html">חיפוש טיול</a> |
        <a class="nav_item" href="./My_favorite.html">המועדפים שלי</a> |
        <a class="nav_item" href="contact.html">צור קשר</a> |
        <a class="nav_item" href="about_us.html">קצת עלינו</a> |
     </nav>
    <div class="container">
        <div class="text">
            <div class='line'>
                <h2 class='flipX'>מצא את הטיול שלי</h2>
            </div>
            <div class="logincont">
                <form name="login" action="/action_page.php" onsubmit="return empty()" method="get">
                    <label for="username" class="text">שם משתמש:</label>
                    <input type="text" id="username" name="username"><br>
                    <br>
                    <label  for="password" class="text">סיסמא:</label>
                    <input type="password" id="password" name="password">
                    <br><br>
                </form>
                <a  href="./find_your_trip.html">
                    <button class="button" type="submit">התחבר</button>
                </a>
                <br>
                <br>
                <div class="account">עדיין אין לך משתמש?
                    <a href="./signup.html">
                        <button class="press-here">לחץ כאן</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider" id="main-slider">
        <div class="slider-wrapper">
            <img src="../static/pic1.png" alt="First" class="slide"/>
            <img src="../static/pic2.png" alt="Second" class="slide"/>
            <img src="../static/pic3.png" alt="Third" class="slide"/>
            <img src="../static/pic4.png" alt="Forth" class="slide"/>
            <img src="../static/pic5.png" alt="Fifth" class="slide"/>
            <img src="../static/pic6.png" alt="Sixth" class="slide"/>
        </div>
    </div>
</body>
</html>

