<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <title>login</title>
</head>
<body>
    <nav>
        <a class="nav_item" href="about_us.html">קצת עלינו</a> |
        <a class="nav_item" href="contact.html">צור קשר</a> |
    </nav>
    <div class="container">
      <div class="image"><img src="Picture1.png" alt="this picture is not available for now"></div>
      <div class="text"><br>
        <div class='line'>
          <h2 class='flipX'>מצא את הטיול שלי</h2>
        </div>
        <form>
          <label for="username">שם משתמש:</label>
          <input type="text" id="username" name="username"><br>
          <br>
          <label  for="password">סיסמא:</label>
          <input type="password" id="password" name="password">
        </form>
        <br>
        <a  href="find_your_trip.html">
            <button class="button" type="submit">התחבר</button>
        </a>
        <br><br>
        עדיין אין לך משתמש?
        <div>
           <a href="signup.html">
                <button class="press-here">לחץ כאן</button>
            </a>
        </div>
      </div>
    </div>
</body>
</html>

