<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>my favorite</title>
    <link rel="stylesheet" href="../static/login.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <script src="project.js"></script>
    <button class="back"><i class='fas fa-reply'></i></button>
    <div class="container">
        <br>
            <div class="grid-container">
                <div class="header">המועדפים שלך</div><br>
                <div class="grid-item">1</div>
                <div class="grid-item">2</div>
                <div class="grid-item">3</div>
            </div>
    </div>
</body>
</html>