<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>request trip</title>
    <link rel="stylesheet" href="../static/login.css">
    <title>signup</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div>
        <a href="your_trips.html">
            <button class="back" > <i class='fas fa-reply'></i></button>
        </a>
    </div>
    <button class="heart"><i class="fa fa-heart"></i></button>
        <div class="container"><br>
            <div class="grid-container">
                <div class="header">פה יכנס שם הטיול</div><br>
                <div class="grid-item">פרטי הטיול וכו</div>
                <div class="grid-item">2</div>
                <div class="grid-item">3</div>
            </div>
        </div>
    <button class="find_guide">מצא לי מדריך למסלול</button>
    <button class="register_guide">הירשם כמדריך </button>


</body>
</html>