<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/login.css">
    <title>signup</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script defer src="../static/project.js"></script>
</head>
<body>

     <nav>
      <a class="nav_item" href="./find_your_trip.html" onclick="return false">חיפוש טיול</a> |
        <a class="nav_item" href="./My_favorite.html" onclick="return false">המועדפים שלי</a> |
        <a class="nav_item" href="contact.html" >צור קשר</a> |
        <a class="nav_item" href="about_us.html" >קצת עלינו</a> |
     </nav>
    <div>

         <button class="back" onclick="history.back()"> <i class='fas fa-redo'></i></button>
    </div>
    <div class="container">
        <div class="image">
          <img src="../static/picture1.png" alt="this picture is not available for now">
        </div>
        <div class="text">
          <div class="header">הרשמה</div>
          <br>
          <div class="logincont">
            <form name="new_user" action="./login.html" onsubmit="return empty()" method="post">
                <label class="text" for="username">שם משתמש*:</label>
                <input type="text" id="username" name="username" required><br>
                <br>
                <label  class="text" for="password">סיסמא*:</label>
                <input type="password" id="password" name="password" required><br>
                <br>
                <label  class="text" for="email">אימייל*:</label>
                <input type="email" id="email" name="email" required>
                <br>
                <br>
                <button class="button" type="submit">בצע הרשמה</button>
            </form>

          </div>
        </div>
    </div>
</body>
</html>