<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <title>your trips</title>
    <link rel="stylesheet" href="../static/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <a  href="find_your_trip.html">
      <button class="home"><i class="fa fa-home"></i></i></button>
  </a>
  <div class="container"><br>
    <div class="grid-container">
        <div class="header">הטיולים שלך</div><br>
        <div class="grid-item">1</div>
        <div class="grid-item">2</div>
        <div class="grid-item">3</div>
    </div>
  </div>
</body>
</html>