extends BasicLayout
block content
    br
    br
    br
    .contact Phone: 1-800-555-1212
      i.fa-solid.fa-phone
        br
        br
    .contact Email: info@tripcompany.com
      i.fa-solid.fa-envelope
        br
        br
    .contact Address: 123 Main Street, Anytown, USA
      i.fa-solid.fa-location-arrow
        br
        br
