<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <title>register guide</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script defer src="../static/project.js"></script>
</head>
<body>
     <nav>
        <a class="nav_item" href="./find_your_trip.html">חיפוש טיול</a> |
        <a class="nav_item" href="./My_favorite.html">המועדפים שלי</a> |
        <a class="nav_item" href="contact.html">צור קשר</a> |
        <a class="nav_item" href="about_us.html">קצת עלינו</a> |
         <a class="nav_item" href="login.html" >התחברות לאתר</a> |

     </nav>

            <button class="back" onclick="history.back()"> <i class='fas fa-redo'></i></button>
      <div class="header">הרשמה כמדריך</div><br>
            <form name="form1" action="your_trips.html" onsubmit="return phonenumber(document.form1.phone)">
                <div class="register_cont">
                    <label for="fullname">שם מלא*</label>
                    <input title="שדה חובה" type="text" id="fullname" name="fullname" required>
                    <label  for="phone">טלפון ליצירת קשר*</label>
                    <input id="phone" type="tel" name="phone" required>
                    <label for="area_guide">אזור הדרכה עיקרי*</label>
                    <select name="area_guide" id="area_guide" required>
                        <option value="" disabled selected value> -- select an option --</option>
                        <option>גליל עליון</option>
                        <option>גליל תחתון</option>
                        <option>ערבה</option>
                        <option>חיפה והר הכרמל</option>
                        <option>מרכז הארץ</option>
                        <option>כנרת</option>
                    </select>
                    <label  for="trining">שנות ניסיון בהדרכת טיולים</label>
                    <input type="number" id="trining" name="trining">
                    <label  for="price">מחיר לטיול</label>
                    <input type="text" id="price" name="price">
                    <label  for="about">קצת עליך*</label>
                    <textarea id="about" name="about" class="userInput" required></textarea>
                    <input type="submit" class="button_guide" value="הירשם"/></div>
                </div>
            </form>
<br>
      </div>
    </div>
</body>
</html>
